.blue10{
    margin-left: 10px;

}
.icsize{
    font-size: 25px;
}
.icsize1{
    padding: 5%;
    color: blue;

}
.bcal{
    color: black;
}
.navbar-toggler-icon{
    color: blue;
}
.mapcol{
    background-color: aliceblue;
}
.plus{
    border: none;
}
.minus{
    border: none;
}
.input-box{
    border: none;
}
.quantity{
    /* border: 1px black solid; */
    /* outline: 2px; */
    justify-content: center;
}
@media screen and (max-width: 425px){
    .icsize{
        display: none;
    }
    .ico{
        display: none;
    }
}
   
.card {
    overflow-x: hidden;
}
.crdpadding{
    margin-top: 20%;
}
.cardpadding{
    padding: 10%;
    margin-top: 10%;
}
.addc:hover{
    background-color: #000;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
.addcard{
    visibility: hidden;
}
.card:hover .addcard{
    visibility: visible;
}
.po{
    position: relative;
}
.addc2{
    background-color: skyblue;
    border: 0px;
}
.addc{
    height: 3rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ADDCARD{
    position: absolute;
    top: 55%;
    
}
.smallcard{
    display: flex;
}
.smcart{
    overflow-x: hidden;
}
.picsmallcart{
    height: 8rem;
}
.rowforsmallcart{
    /* border: 2px solid black; */
    /* box-shadow: #000 20px; */
    box-shadow: -1px -1px 1px 1px #c0c0c0, 1px -1px 1px 2px #dbdbdb;
    position: relative;
    z-index:10;
    padding: 5%;
}
  
@media screen and (max-width: 325px){
    #tablink{
        width: 100% !important;
    }
    .tab11{
        width: 100%;
    }
}
.headercheckout{
    float: right;
    padding-right: 10%;
    font-size: 1.5rem;
}
.maindivv{
    background-color: #f3f0f0;
    /* padding: 2%; */
    justify-content: space-around;
    display: flex;
    margin: 0px;
}
.ddx{
    display: flex;
}
.picsmallcart1{
    height: 5rem;
    border: #000000 5px;
}
.picsmallcart1{
    height: 3.5rem;
    border: #c5c5c5 solid 1px;
}
.product-price{
    margin-top: 1rem;
}
.tdtext{
    text-align: left;
}
tr{
    background-color: transparent;
}
table.table {
    margin: 0px;
    background-color: transparent;
}
td.tdtext {
    background-color: transparent;
    text-align: left;

}
td.tdproimg {
    background-color: transparent;
    text-align: left;

    

}
td.tdprice {
    background-color: transparent;
    text-align: right;

}
.product-link{
    text-decoration: none;
    color: #000;
}
.breadcrumb.text-center {
    text-align: center !important;
}
.breadcrumb {
    background: url(//medik-demo.myshopify.com/cdn/shop/files/about1.jpg?v=1613518992&width=1920);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    position: relative;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

.breadcrumb {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.wishlist{
    display: flex;
    justify-content: space-around;
}
.wishlist li{
    text-decoration: none;
    list-style: none;
}
.wishlist a{
    text-decoration: none;
    list-style: none;
}
.product_quantity{
    width: 25%;
    border: #000 solid 2px;
    justify-content: space-around;
    display: flex;
    margin: auto;
}
label.form-check-label {
    float: left;
}
.radioborder{
    border: #000 2px solid;
}
.wishlist img{
    height: 17px;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,

  .next{
    color: #000 ;
    background-color: blue;
    padding: 10%;
    
  }
  .gallery-b{
    border: #d1d1d1 solid 2px;
  }
.badgeicon{
    height: 1.5rem;
    width: 1rem;
}

span.position-absolute.badgeicon.top-0.translate-middle.rounded-5.bg-dark.badge.cartbutton {
    padding-right: 1.3rem;
    padding-bottom: 1.5rem;
}
.discount{
    position:absolute;
    top: 50%;
    z-index: 1000000000000000000;
}
.dis{
    background-color:white;
    padding: 10%;
    border: #000 2px solid;
}
.contact-login{
    display: flex;
    justify-content: space-between;
}
.contact-login1{
    
    display: flex;
    justify-content: space-evenly;
}
.bgggray{
    background-color: rgb(104 ,104 ,104,0.1);
    
}

  .contact-login2{
    display: flex;
    justify-content: space-between;
    /* border: #000 1px solid; */
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
  }
  .contact-login2 input{
    outline: none;
    border: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
 
  .iconslock{
    padding-top: 2%;


  }
  .cardd{
    border: #000 1px solid;
  }
  .bgggray .cardd{
    padding: 0%;
  }
  .cardnumber{
    display: flex;
    justify-content: space-between;
  }
  .securitycode{
    display: flex;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
  }
  .securitycode input{ 
    border: none;
    background-color: white;
    outline: none;
  }
  .showroom-card {
    width: 500px;
    height: 300px;
    background-color: yellow;
    border: 2px solid red;
  }
  
  .selected {
    border: 2px solid black;
  }
  input:focus .securitycode {
    border-color: #ff0000 1px solid;
  }
  #in:focus  {
    /* color: blue; */
    background-color: #000;
    border: #ff0000 1px solid;
  }
  div:focus {
    border: 1px solid black;
}
.securitycode{
    border: gray 1px solid;
    padding: 2%;
}
.expiry-date{
    padding: 2%;
    background-color: white;
    border: gray 1px solid;

}
.expiry-date1{
    padding: 1%;
    background-color: white;
    border: gray 1px solid;

}
.expiry-date2{
    padding: 5%;
    background-color: white;
    border: gray 1px solid;

}
.expiry-date2 input{
    border: none;
    outline: none;
}
.expiry-date input{
    border: none;
    outline: none;
}
.form-select:focus{
    outline: none;
    border: none;
}

select.js-select2.select2-hidden-accessible.w-100 {
    border: none;
    outline: none;
}
.pay-btn{
    height: 3rem;
    font-weight: bolder;
    font-size: larger;
}
td.tdproimg {
    background-color: transparent !important;
    width: 4rem !important;
}
td.tdtext {

    background-color: transparent !important;
    width: 15rem !important;
}
td.tdprice {
    background-color: transparent !important;
}
@media screen and (min-width: 426px){
    
  
    .sticky{
        position: fixed !important;
    }
}
@media  (max-width: 426px){
    .formsigin1{
        margin: auto;
        width: 100% !important;
        background-color: rgb(104 ,104 ,104,0.1);
        
    }
  
    
}
td.tdprice {
    text-align: left !important;
}
.rowdivider{
    border: gray 1px solid;
    
}
    .rowdivider1{
        border-left: gray 1px solid;
        
    }
.rowdivider1.col-sm {
    padding-left: 0px !important;
}
.rowdivider1.col-sm {
    background-color: rgb(104 ,104 ,104,0.1);
    
    
}
.subtotalpriceee{
    display: flex;
    justify-content: space-between
}
.formsigin1{
    margin: auto;
    width: 50%;
    background-color: rgb(104 ,104 ,104,0.1);
    
}
.forgetbutn{
    display: flex;
    justify-content: space-between;
}
.sigupbtn{
    background-color: blue;
    color: white;
    border: 0px;
    padding: 3%;
    border-radius: 5%;
    width: 9rem;
}